:root {
  --card-height: 156px;
  --suit-size: 40px;
}

#enemies {
  display: flex;
  flex-direction: row;
}

.hand {
  display: flex;
  flex-direction: row;
  margin: 10px;
  position: relative;
  height: var(--card-height);
}

#my-hand {
  margin-top: 20px;
}

#suits {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.suit {
  width: var(--suit-size);
  height: var(--suit-size);
  background-image: url('../images/suits.png');
}

.card-base {
  width: 112px;
  height: var(--card-height);
}

.closed-card {
  background-image: url('../images/card-back.png');
}

.open-card {
  background-image: url('../images/cards.png');
}

.hand-card {
  position: absolute;
  box-sizing: border-box;
}

.available-card {
  margin-top: -10px;
}

.selected-card {
  border: 2px solid #ff241b;
}
